In [43]:
import pandas as pd
import numpy as np
df = pd.read_csv('D:/Nus/Fruit-Classifier/mini_item_based.csv')
df.head()

  Movie_Name  Year  English  French  Dur_In_Min
0         m1  2023        1       0         120
1         m2  2018        0       1         120
2         m3  2020        1       1         160
3         m4  2015        1       1         180
4         m5  2022        1       0         120

In [44]:

year = df["Year"].values
year =  (year - np.min(year))/(np.max(year) - np.min(year))
#year[:5]
dim = df["Dur_In_Min"].values
dim =  (dim - np.min(dim))/(np.max(dim) - np.min(dim))
#dim[:5]
df["Year"] = year
df["Dur_In_Min"] = dim

df.head()

  Movie_Name   Year  English  French  Dur_In_Min
0         m1  1.000        1       0    0.000000
1         m2  0.375        0       1    0.000000
2         m3  0.625        1       1    0.666667
3         m4  0.000        1       1    1.000000
4         m5  0.875        1       0    0.000000

In [45]:
from scipy import spatial
userslike = df[df["Movie_Name"]=="m5"]
#userslike.head()
othermovies = df[df["Movie_Name"]!="m5"]
othermovies.iloc[0]

Movie_Name     m1
Year          1.0
English         1
French          0
Dur_In_Min    0.0
Name: 0, dtype: object

In [46]:
from scipy import spatial

user_row = df[df["Movie_Name"] == "m5"].iloc[0]

othermovies = df[df["Movie_Name"] != "m5"]

feature_cols = ["Year", "Dur_In_Min","English","French"] 

user_vec = user_row[feature_cols].values.astype(float)

candidates = []  # (distance, movie_name)

for _, movie in othermovies.iterrows():
    movie_vec = movie[feature_cols].values.astype(float)
    distance = spatial.distance.cosine(user_vec, movie_vec)
    candidates.append((distance, movie["Movie_Name"]))

top2 = sorted(candidates, key=lambda x: x[0])[:2]

for dist, name in top2:
    print(f"{name}, cosine dist = {dist:.4f}")

m1, cosine dist = 0.0022
m3, cosine dist = 0.3086